outdir
core/sculpt/data
smpl_net
smpl_net/data
smpl_net/sub_files
smpl_net/cluster_logs
smpl_net/experiments_test
smpl_net/experiments_train

*.obj
*.pkl
*.npz
*.log
*.json
*.npy
*.ply
*.pyc
*.png
*.zip
